.Header {
    display: flex;
    align-items: center;
      justify-content: center;
      background-color: var(--rosa-claro);
      border-bottom: 1px solid white;
      height: 60px;
  }

.ContenedorBuscadorHeader {
  width: 80%;
  height: 50%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconoBuscador {
  color: white;
}

.Buscador {
  flex-grow: 1;
  border: none;
  background-color:var(--rosa-claro) ;
}

.Buscador::placeholder{
  color: bisque;
}